html, body {
    background-color: #c8d8e4;
    margin: 0;
    padding: 0;
  }
  
  canvas {
    display: block;
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
  }

  h1 {
    color: white;
    background-color: #2b6777;
    padding: 1.5%;
    letter-spacing: 0.15rem;
    text-align: center;
    margin: 0;
    font-family: "Bungee Inline", cursive;
    font-size: 3rem;
    cursor: pointer;
  }

  h2 {
    color: white;
    font-size: x-large;
  }
  
  #settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #52ab98;
    position: absolute;
    left: 0;
    width: 12.5rem;
    height: 31rem;
  }
  
  a {
    text-decoration: none;
  }

  p {
    color: white;
  }

  button {
    border-radius: 0.3rem;
    cursor: pointer;
  }
  
  img {
    position: absolute;
    width: 6rem;
    height: auto;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}