html, body {
    background-color: #c8d8e4;
    margin: 0;
    padding: 0;
  }
  
  canvas {
    display: block;
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
  }

  h1 {
    color: white;
    background-color: #2b6777;
    padding: 1.5%;
    letter-spacing: 0.15rem;
    text-align: center;
    margin: 0;
    font-family: "Bungee Inline", cursive;
    font-size: 3rem;
    cursor: pointer;
  }

  h2 {
    color: white;
    font-size: x-large;
  }
  
  #settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #52ab98;
    position: absolute;
    top: 20%;
    right: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    position: absolute;
    width: 8%;
    height: auto;
    top: 0;
    right: 0;
    z-index: 1;
  }