html, body {
  background-color: rgb(189, 189, 189);
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

body {
  display: flex;
  flex-direction: row;
}

body :nth-child(3) { order: 3; }
body :nth-child(4) { order: 4; }
body :nth-child(5) { order: 5; }

input {
  height: fit-content;
}

div {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

img {
  position: absolute;
  width: 8%;
  height: auto;
  top: 0;
  right: 0;
  z-index: 1;
}